.cart {
    background: #000;
    display: none;
    padding: 32px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 200px;
    color: white;
    overflow: scroll;
  
  }
  .cart>ul{
    list-style: none;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cart>img {
    
    width: 200px;
    height: 200px;
  }
  
  .cart li {
    border-bottom: 1px solid #444;
    padding-bottom: 16px;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  
  .boton-agregar{
    margin: auto;
   
  }
 
  .boton-quitar{
    margin: auto;
  }
.datos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.datos>.nombre{
  width: 100%;
}
  .cart-button {
    align-items: center;
    background: #09f;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
  }
  .cart-button>.iconoCarrito{
    width: 100%;
    height: 100%;
  }
  .cart-button:hover {
    scale: 1.1;
  }
  
  .cart-button ~ input:checked ~ .cart {
    height: 100%;
    display: block;
  }

  @media screen  and (max-width:768px){
    .cart {
        background: #000;
        display: none;
        padding: 32px;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 100%;
        color: white;
        z-index: 999;
      
      }

      .cart>ul{
        list-style: none;
        z-index: 10000;
      }

      .cart>li{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

    


    
  }