@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --orange:#ffa500;
}
.navbar {
    width: 100%;
    height: 80px;
    background-color: black;
}

.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;

}

.botoncerrar{
    display: none;
}

.logo{
    font-size: 1rem;
    font-weight: bolder;
    color:#eae0e0;
    text-transform: uppercase;
    gap:5px;
    text-decoration: none;
  }

  
  
  .logo>span{
    color:orange;
  }

  .navbar-header{
    display: flex;
    gap:1rem;
    list-style: none;
    align-items: center;
    text-align: center;
  }

  .navbar-header>li{
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

.link{
    color: white;
    text-shadow: 0 0 6px yellow;
    text-decoration: none;
    text-align: center;
}

.link:hover{color:rgb(241, 222, 10);}


  .imagen{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .imagen>img{
    width: 100%;
    height: 100%;
  }

@media screen and (max-width:768px){
    .navbar{
        height: 50px;
    }
    .buton{
        font-size: 25px;
        color: white;
    }

    .mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
   
    }

    .header{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 340px;
        background: black;
        position: relative;
        z-index: 100000;
    }


    .botoncerrar{
        display: block;
        font-size: 20px;
        color: white;
        position: absolute;
        top:0;
        left:50%;
     
    }

    .header>.logo{
        display: none;
    }

    .navbar-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .link{
        background: rgba(255,255,255,0.9);
        width: 340px;
        display: block;
        color: black;
    }
  
    
    .link:hover{color:rgb(241, 222, 10);}
    .header>.imagen{
        display: none;

    }



}