.Productos{
    grid-column: 4/13;
}

.title{text-align: center;
       font-style: 35px;
       font-size: 25px;
       text-shadow: 0 0 4px yellow; }

.arrayCamisas{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    align-items: center;
    list-style: none;

}

.arrayCamisas>li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    border: 1px solid black;
    height: 300px;
}
.arrayCamisas>li>img{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

.arrayCamisas>li>p{
    text-align: center;
}

.BiggerImage{
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100000;
    background-color: rgba(0,0,0,0.8); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.BiggerImage>.Cerrar{
    color: white;
    font-size: 35px;
}
.BiggerImage>img{
    display: block;
    margin: auto;
    width: 400px;
    height: 400px;
    border: 2px solid white;

}

.BiggerImage>.Arreglo{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
    font-size: 20px;
    justify-content: center;
}

@media screen and (max-width:768px){
    .Productos{
        grid-column: 1/-1;
        position: relative;
    }

    .title{text-align: center;
        font-size: 25px;
        text-shadow: 0 0 4px yellow; 
         margin-top: 35PX;}
 

    .arrayCamisas{
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        gap:15px;
        align-items: center;
        list-style: none;
        justify-content: center;
    }

    .arrayCamisas>li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 280px;
        border: 1px solid black;
        height: 450px;
        margin: auto;
    }

    .arrayCamisas>li>img{
        width: 200px;
        height: 250px;
        display: block;
        margin: auto;
    } 

    .BiggerImage>img{
        display: block;
        margin: auto;
        width: 300px;
        height: 300px;
        border: 2px solid white;
    
    }
}